:root {
  --body-bg-color: #faf7fd;
  --purple: #bb99dd;
}

body,
ul {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
  font-family: "Poppins";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 15vh;
  width: 415px;
}

.elippse img {
  height: 213px;
  width: 213px;
  border-radius: 100%;
  box-shadow: 0 0 0 4px var(--body-bg-color), 0 0 0 6px var(--purple);
}

p {
  color: var(--purple);
  margin: 20px 0 30px 0;
}
.linksList {
  list-style: none;
  margin-bottom: 60px;
}

.linksList li {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.linksList a {
  text-decoration: none;
  color: var(--purple);
  display: inline-block;
  border: 2px solid var(--purple);
  width: 300px;
  border-radius: 4px;
  padding: 5px 0;
  margin-bottom: 10px;
}

.linksList a:hover {
  color: var(--body-bg-color);
  background-color: var(--purple);
  transition: 0.1s ease-in-out;
}

.iconsList {
  display: flex;
  list-style: none;
  gap: 29px;
}

.iconsList img {
  cursor: pointer;
}
